# 파이썬 가상환경
.venv/
venv/
ENV/

# 파이썬 캐시 파일
**/__pycache__/
*.pyc

# 환경 변수 및 비밀 키 파일 (★보안 필수★)
.env

# (선택) 수집한 대용량 JSON 데이터 파일들
# 만약 테스트용 데이터라면 굳이 GitHub에 올리지 않는 것이 좋습니다.
test
*.json
*.txt

chrome_profile